# Who will exit first?

In [1]:
import pandas as pd

# read data
dataset = pd.read_csv("Churn_Modelling.csv", header=0)
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [2]:
# Unique geographic values in dataset
if dataset["Gender"][0] in ("Male", "Female"):
    unique_geography = dataset[["Geography"]].groupby("Geography").size()
print(unique_geography)

Geography
France     5014
Germany    2509
Spain      2477
dtype: int64

Transformation of some values in dataset.

In [3]:
# transform gender values geographic values
if dataset["Gender"][0] in ("Male", "Female"):
    for row in [dataset]:
        row["Gender"] = row["Gender"].map( {"Male": 0, "Female": 1} ).astype(int)
        row["Geography"] = row["Geography"].map( {"France": 0, "Germany": 1, "Spain": 2} ).astype(int)
    # end of for loop
# end of if clause

# transform age values
if dataset["Age"][0] > 17:
    max_age = dataset["Age"].max()
    # mapping
    dataset["Age"] = dataset["Age"] * (4 / max_age)
# end of if clause

# transform CreditScore values
if dataset["CreditScore"][0] > 4:
    max_creditScore = dataset["CreditScore"].max()
    # mapping
    dataset["CreditScore"] = dataset["CreditScore"] * (4 / max_creditScore)
# end of if clause

# transform CreditScore values
if dataset["Balance"][1] > 4:
    max_balance = dataset["Balance"].max()
    # mapping
    dataset["Balance"] = dataset["Balance"] * (4 / max_balance)
# end of if clause

# transform EstimatedSalary values
if dataset["EstimatedSalary"][0] > 4:
    max_estimatedSalary = dataset["EstimatedSalary"].max()
    # mapping
    dataset["EstimatedSalary"] = dataset["EstimatedSalary"] * (4 / max_estimatedSalary)
# end of if clause

# transform Tenure values
if dataset["Tenure"][0] > 0:
    max_tenure = dataset["Tenure"].max()
    # mapping
    dataset["Tenure"] = dataset["Tenure"] * (4 / max_tenure)
# end of if clause

if "RowNumber" in dataset.columns:
    dataset = dataset.drop(["RowNumber"], axis=1)
if "CustomerId" in dataset.columns:
    dataset = dataset.drop(["CustomerId"], axis=1)
if "Surname" in dataset.columns:
    dataset = dataset.drop(["Surname"], axis=1)

dataset.describe()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,3.061312,0.746300,0.454300,1.692252,2.00512,1.219394,1.530200,0.70550,0.515100,2.001880,0.203700
std,0.454839,0.827529,0.497932,0.455992,1.15687,0.994785,0.581654,0.45584,0.499797,1.150253,0.402769
min,1.647059,0.000000,0.000000,0.782609,0.00000,0.000000,1.000000,0.00000,0.000000,0.000232,0.000000
25%,2.748235,0.000000,0.000000,1.391304,1.20000,0.000000,1.000000,0.00000,0.000000,1.020081,0.000000
50%,3.068235,0.000000,0.000000,1.608696,2.00000,1.549610,1.000000,1.00000,1.000000,2.003954,0.000000
75%,3.378824,1.000000,1.000000,1.913043,2.80000,2.034997,2.000000,1.00000,1.000000,2.987877,0.000000
max,4.000000,2.000000,1.000000,4.000000,4.00000,4.000000,4.000000,1.00000,1.000000,4.000000,1.000000

Extracting train dataset from dataset.

In [4]:
test_indis = 10

train_dataset = dataset[dataset.index % test_indis != 0]
train_dataset.describe()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,3.059530,0.747222,0.453222,1.694652,2.001333,1.217620,1.526778,0.705444,0.514778,1.999691,0.205556
std,0.454562,0.829365,0.497835,0.456617,1.156841,0.994379,0.578492,0.455868,0.499809,1.151912,0.404129
min,1.647059,0.000000,0.000000,0.782609,0.000000,0.000000,1.000000,0.000000,0.000000,0.000232,0.000000
25%,2.743529,0.000000,0.000000,1.391304,0.800000,0.000000,1.000000,0.000000,0.000000,1.015405,0.000000
50%,3.063529,0.000000,0.000000,1.608696,2.000000,1.546432,1.000000,1.000000,1.000000,2.005519,0.000000
75%,3.374118,1.000000,1.000000,1.913043,2.800000,2.033889,2.000000,1.000000,1.000000,2.988440,0.000000
max,4.000000,2.000000,1.000000,4.000000,4.000000,4.000000,4.000000,1.000000,1.000000,4.000000,1.000000

Extracting test dataset from dataset

In [5]:
test_dataset = dataset[dataset.index % test_indis == 0]
test_dataset.describe()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000
mean,3.077346,0.738000,0.464000,1.670652,2.039200,1.235357,1.56100,0.70600,0.518000,2.021578,0.187000
std,0.457244,0.811181,0.498952,0.449973,1.157153,0.998784,0.60881,0.45582,0.499926,1.135591,0.390107
min,1.797647,0.000000,0.000000,0.782609,0.000000,0.000000,1.00000,0.00000,0.000000,0.001835,0.000000
25%,2.767059,0.000000,0.000000,1.347826,1.200000,0.000000,1.00000,0.00000,0.000000,1.069400,0.000000
50%,3.082353,1.000000,0.000000,1.608696,2.000000,1.568921,2.00000,1.00000,1.000000,1.999009,0.000000
75%,3.389412,1.000000,1.000000,1.869565,3.200000,2.052969,2.00000,1.00000,1.000000,2.972700,0.000000
max,4.000000,2.000000,1.000000,3.521739,4.000000,3.800548,4.00000,1.00000,1.000000,3.999565,1.000000

## Logistic regression
We are going to realize 3 different approaches for logistic regression
### Scikit Learn Practice

In [79]:
from sklearn.linear_model import LogisticRegression

X_train = dataset.drop(["Exited"], axis=1)
Y_train = dataset.Exited
X_test  = test_dataset.drop(["Exited"], axis=1).copy()
Y_test  = test_dataset.Exited

# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
#print(Y_pred)
acc_log = round(logreg.score(X_test, Y_test), 3)
print("accuracy:", acc_log)

accuracy: 0.82

### Pytorch Practice

In [18]:
# improt pytorch libraries
import numpy as np
import torch as py
from torch.autograd import Variable

columns = train_dataset.columns.drop("Exited")

# determine learning rate
eta = 0.00002

# create a linear model. y = w*x + b
model = py.nn.Linear(10, 1)

# define an optimizer. I have defined Stochastic Gradient Descent.
optim = py.optim.SGD(model.parameters(), lr=eta)

# define loss function. It is Binary Cross Entropy as a loss function.
loss = py.nn.BCELoss(size_average=True)

# definition of sigmoid funtion to normalize calculation to between 0 and 1 for BCELoss.
sigmoid = py.nn.Sigmoid()

def gradient(X, y, epoch):
    # gradient steps
    for i in range(epoch):
        # compute loss value.
        dE = loss(sigmoid(model(Variable(X))) , Variable(y))
        # reset of gradient buffer
        optim.zero_grad()
        # compute gradients with respect to vectors of X by using auto differitiation.
        dE.backward()
        # update optimizer.
        optim.step()
# end of def gradient

def train():
    # get train dataset
    X = py.from_numpy(np.array(train_dataset[columns])).float()
    # get classes from train dataset
    y = py.from_numpy(np.array([[1] if v == 1 else [0] for v in np.array(train_dataset[["Exited"]])])).float()
    # train them.
    gradient(X, y, 100)
# end of def train

def test():
    # get test_dataset
    X = py.from_numpy(np.array(test_dataset[columns])).float()
    # get classes from test dataset.
    y = [1 if v == 1 else 0 for v in np.array(test_dataset[["Exited"]])]
    #print("y:",y)
    # classify them
    Z = sigmoid(model(Variable(X)))
    # get classification results.
    Z_dist = np.array([1 if (v.data >= 0.5).numpy() else 0 for v in Z])
    #print("s:", Z_dist)
    
    # compute accuracy.
    correct = 0
    for i in range(len(y)):
        if y[i] == Z_dist[i]:
            correct += 1
    
    print("accuracy:", correct / len(y))
# end of def test

train()
test()

accuracy: 0.49

### Custom Logistic Regration Algorithm Practice

In [42]:
# import libraries
import pandas as pd
import numpy as np
import math
import numpy as np

def sigmoid(t):
    return np.exp(t)/(1+np.exp(t))
# end of def sigmoid

def gradientAscentStep(eta, X, y, w):
    dL = np.dot(X.T, y - sigmoid(np.dot(X, w)))
    w = w + eta * dL
    return w
# end of def gradientAscentStep

def gradientAscent(eta, X, y, w, epoch):
    for i in range(epoch):
        w = gradientAscentStep(eta, X, y, w)
        #print("w:",w)
    return w
# end of def gradientAscent

# total count of sample space
total = float(len(train_dataset))

columns = train_dataset.columns.drop("Exited")

def train(eta, w):
    X = np.array(train_dataset[columns])
    y = np.array([1 if v == 1 else 0 for v in np.array(train_dataset[["Exited"]])])
    w = gradientAscent(eta, X, y, w, 1000)
    return w
# end of def train

def test(w):
    X = np.array(test_dataset[columns])
    y = np.array([1 if v == 1 else 0 for v in np.array(test_dataset[["Exited"]])])
    #print("y:\n",y)
    Z = np.dot(X, w)
    #print("Z:", sigmoid(Z))
    Z_dist = [1 if v >= 0.5 else 0 for v in sigmoid(Z)]
    #print("s:\n", np.array(Z_dist))
    
    # compute accuracy
    correct = (y == Z_dist).sum()
    
    print("accuracy:", correct / len(y))
# end of def test

# intial values
w = np.array(train_dataset.drop("Exited", axis=1).mean())
#w = np.array(np.zeros(len(columns)))
eta = 0.000009
#eta = 0.00009

w = train(eta, w)
#print("w:", w)
test(w)

accuracy: 0.824

## Gradient Descent Boosting
### Scikit Learn Practice

In [83]:
from sklearn.ensemble import GradientBoostingClassifier

X_train = dataset.drop(["Exited"], axis=1)
Y_train = dataset.Exited
X_test  = test_dataset.drop(["Exited"], axis=1).copy()
Y_test  = test_dataset.Exited

gbc = GradientBoostingClassifier(n_estimators = 5, learning_rate = 1.0, max_depth = 13, random_state = 0)
gbc.fit(X_train, Y_train)
Y_pred = gbc.predict(X_test)
print("accuracy:", gbc.score(X_test, Y_test))

accuracy: 1.0

In [82]:
from sklearn.ensemble import GradientBoostingRegressor

X_train = dataset.drop(["Exited"], axis=1)
Y_train = dataset.Exited
X_test  = test_dataset.drop(["Exited"], axis=1).copy()
Y_test  = test_dataset.Exited

gbc = GradientBoostingRegressor(n_estimators = 25, learning_rate = 1.0, max_depth = 25, random_state = 0, loss="ls")
gbc.fit(X_train, Y_train)
Y_pred = gbc.predict(X_test)
print("accuracy:", gbc.score(X_test, Y_test))

accuracy: 1.0